{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block title %}パスワード再設定{% endblock %}

{% block content %}
<div class="card shadow">
  <div class="card-header text-center">
    <h2 class="mb-0">パスワード再設定</h2>
  </div>

  <div class="card-body">
    <form id="resetting_password_form" method="post">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group mb-4">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field }}
        <div id="client_error_{{field.name}}" class="error-message mb-1"></div>
        {% for error in field.errors %}
        <div id="server_error_{{field.name}}_{{forloop.counter}}" class="server-error-message mb-1">{{ error }}</div>
        {% endfor %}
        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
      </div>
      {% endfor %}
      <div class="d-grid">
        <button id="resetting_password_button" class="btn btn-primary btn-block">パスワードを変更する</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block extra_javascript %}
<script type="module" src="{% static 'js/formValidations/resettingPasswordFormValidation.js' %}"></script>
{% endblock %}
